body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    background-color: rgb(192, 178, 176);
  }

.jumbotron {
    background-color:  brown;
    padding: 6px;
    margin-bottom: 0px;
}

.sc-logo {
    display: block;
    max-width: 120px;
    height: auto;
}




.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: larger;
    padding-left: 16px;
}

.navbar-brand, .navbar-brand img {
    padding: 0px;
    margin: 0px;
}

.navbar-brand img {
    width: 60px;
}

.navbar {
    padding: 0px 6px 0px 0px;
    background-color:  rgb(49, 21, 21);
}


.card {
    max-width: 250px;
    min-width: 250px;
}

.card-header {
    background-color:  rgb(114, 27, 27);
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:  brown;
  }